{% for idea in ideas %}

<div class="idea">

    <img src="{{idea.image}}" alt="Imagem de {{idea.title}}">

    <div class="content">

        <h3>{{idea.title}}</h3>

        <p>{{idea.category}}</p>

        <div class="description">
            {{idea.description}}
        </div>

        <a href="{{idea.link}}" target="_blank">Ir para a ideia</a>

    </div>

    <!--I know, that's not the cool method for this, its just for tests and temporary, i want to make a API for this application
    for my study-->
    <a href="delete-idea/{{idea.id}}">

    <img id="delete_idea" src="https://image.flaticon.com/icons/svg/2089/2089657.svg" alt="Excluir ideia"
        title="Excluir a ideia">      

    </a>

</div>

{% endfor %}